.burger {
    &__btn {
        background: transparent;
        border: none;
        outline: none;
        transition: all 0.4s ease-in-out;
    }
    &__line {
        display: block;
        width: 20px;
        height: 2px;
        margin-block-end: 4px;
        background: #fff;
    }
    &.open {
        .burger__line {
            &--bottom {
                transform: translateY(-6px) rotate(45deg);
            }
            &--top {
                transform: translateY(6px) rotate(-45deg);
            }
            &--middle {
                opacity: 0;
            }
        }
        .burger__btn {
            transform: rotate(369deg);
        }
    }
}
