.menu {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 30%;
    max-width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translateX(100%);
    &.open {
        transform: translateX(0);
    }
    &__list {
        font-size: 3rem;
    }
}
